body {
  font-family: "lato", sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.table {
  margin: 50px;
  width: 70%;
  > div {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 600;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 35%;
  }
  .col-3 {
    flex-basis: 10%;
  }
  .col-4 {
    flex-basis: 40%;
  }
  .col-5 {
    flex-basis: 5%;
  }
}
.form {
  position: fixed;
  right: 0;
  width: 20%;
  margin: 0 30px 30px 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .title {
    text-align: left;
    margin-left: 20px;
  }

  input {
    &:focus {
      outline: none;
    }

    border-radius: 5px;
    height: 45px;
    font-size: 18px;
    width: calc(100% - 20px);
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  button {
    height: 45px;
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 5px;
    background: #95a5a6;
    outline: none;
    background: burlywood;
    color: #734100;
  }
}
* {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.cursor {
  cursor: pointer;
}

.link {
  color: burlywood;
}

.error {
  border: 2px brown solid;
  background: rgba(165, 42, 42, 0.205);
}

.valid {
  border: 2px darkcyan solid;
  background: rgba(0, 139, 139, 0.205);
}
